@import "/home/fozzy/.config/waybar/style/gruvbox-dark.css";

* {
  border: none;
  border-radius: 0;
  font-family: "Roboto Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

/*gaps*/
window > box {
  margin-left: 0.45em;
  margin-top: 0.5em;
  margin-right: 0.45em;
  margin-bottom: 0em;
  background: transparent;
  color: @fg0;
  border-style: solid;
}

tooltip {
  background: @bg0;
  opacity: 0.8;
  border-width: 0.2em;
  border-style: solid;
  border-color: @bg1;
  border-radius: 0em;
}

tooltip label {
  color: @fg0;
}

#workspaces {
  background: @bg0;
  color: @fg0;
  padding: 0em 0em 0em 0.75em;
  margin: 0.25em 0em;
}

#workspaces button {
  padding: 0.5em;
  padding-right: 0.75em;
  color: @bg2;
}

#workspaces button.active {
  color: @bg0;
  background: @blue;
}

#workspaces button.focused {
  color: @blue-h;
  background: @bg0;
}

#workspaces button.urgent {
  color: @bg0-h;
  background: @green;
}

#workspaces button:hover {
  background: @bg1;
  color: @fg1;
}

#custom-light_dark,
#cpu,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#backlight,
#temperature {
  background: @bg0;
  color: @fg0;
  padding: 0em 0.75em;
  margin: 0.25em 0em;
}

#custom-launch_wofi {
  background: @bg0;
  color: @blue;
  padding: 0em 0.5em 0em 0.75em;
  margin: 0.25em 0em;
}

#custom-power_btn {
  background: @bg0;
  color: @fg0;
  padding: 0em 1em 0em 0.75em;
  margin: 0.25em 0em;
}

#window {
  background: @bg0;
  color: @blue;
  padding: 0em 0.5em 0em 0.75em;
  margin: 0.25em 0em;
}

#window.empty {
  background: transparent;
  padding: 0em;
  margin: 0.25em 0em;
}

#pulseaudio {
  color: @bg0;
  background: @orange;
}

#custom-power_btn {
  background: @bg0;
  color: @fg0;
}

#custom-light_dark {
  color: @bg0;
  background: @aqua;
}

#network {
  color: @bg0;
  background: @gray;
}

#cpu,
#memory {
  color: @bg0;
  background: @purple;
}

#temperature,
#battery {
  color: @bg0;
  background: @green;
}

#temperature.critical {
  background: @red;
  color: @bg0;
}

#battery.warning {
  background: @yellow;
  color: @bg0;
}

#battery.critical {
  background: @red;
  color: @bg0;
}

#backlight {
  background: @aqua;
  color: @bg0;
}

#tray {
  background: @bg0;
  color: @fg0;
}

#clock {
  background: @blue;
  color: @bg0;
}