
@define-color accent #458588;
@define-color txt #fbf1c7;
@define-color bg #282828;
@define-color bg2 #3c3836;
@define-color accentsky #83a598;


 * {
    font-family: 'Ubuntu Nerd Font';
    font-size: 10px;
 }

 /* Window */
 window {
    margin: 0px;
    padding: 10px;
    background-color: @bg;
 }


 /* Inner Box */
 #inner-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @bg;
 }
 /* Outer Box */
 #outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @bg;
 }

 /* Scroll */
 #scroll {
    margin: 0px;
    padding: 10px;
    border: none;
 }

 /* Input */
 #input {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @accent;
    background-color: @bg2;
    animation: fadeIn 0.5s ease-in-out both;
 }

 /* Text */
 #text {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @txt;
    animation: fadeIn 0.5s ease-in-out both;
 }

 /* Selected Entry */
 #entry:selected {
   background-color: @accent;
   background: linear-gradient(90deg, @accent, @accentsky);
 }

 #entry:selected #text {
    color: @bg;
 }